body
{

  background-image: url('../imgs/twitterBg.png');
  background-color: #c0deed;
  background-repeat: repeat-x;
}

.row
{
  margin: 0px;
}

.btn-file {
    position: relative;
    overflow: hidden;
    background-color:#337ab7 !important;
    background-image: url('../imgs/uploadfile.png') !important;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    width:50px !important;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 30;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

.btn-file:hover{
  background-color: #286090 !important;
}

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}



.panel-default > .panel-heading {
  color: #000;
  background-color: #f5f5f5;
  border-color: #dddddd;
}

.posts > .panel-default > .panel-heading{
  color: #000;
  background-color: #fff;
  border-color: #dddddd;
}

.posts > .panel{
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 1px solid #f2f2f2   ;
  border-radius: 0px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);

}

.postcontainer{
  border:none;
  box-shadow:none;
  background:none;
}

.postData{
  padding-top:2px;
  padding-bottom: 2px;
}

.panel{
  border-radius:0px;
}

a > .panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
a > .panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

 a > .panel-heading
 {
  color: #000;
  background-color: #f5f5f5;
  border-color: #dddddd;
 }
 
 .videoContainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.addIndicator{
  width:16px;
  height:16px;
  float:right;
}

.wide {
  width:100%;
  height:100%;
  top:0px;
  position: absolute;
  z-index:-10;
  background-image:url('../imgs/mystory.png');
  background-size:cover;
}

.wide img {
  width:100%;
}

.title {
  margin-top:40px;
  color:#fff;
  font-weight:400;
  font-size:25pt;
  padding:25px;
  text-align:center;
}


.home
{
  width:100%;
  height:600px;
  height:100%;
      
}

.homelogin > .panel{
     background-color:rgba(255,255,255,0.75);
     
}
.selected{
  background-color:rgba(0,255,0,0.3);
}

.valTextLengthPost
{
  position: relative;
  top:            10px;
  margin:         0px;
  padding:        10px;
  background:     #0ad;
  color:          #fff;
  border-radius:  10px;
  display:        inline;
}

.valHashtagPost
{
  color:          #fff;
  padding:        10px;
  border-radius:  10px;
  background:     #dd5454;
}

/*---------------------------------------------------------------------------*/
/*                             S T O R Y  I N P U T                          */
/*---------------------------------------------------------------------------*/
.storyInput{
margin:0 auto;
margin-bottom:5px;
width:97%;
}
.storyButton{
position:relative;
left:30px;
}
.storySelect{
  -webkit-transition: background-color 0.3s; /* Safari */
}
.storySelect:hover{
  background-color:rgba(0,255,0,0.35);
}

.selected > .storySelect:hover{
  background-color:rgba(255,0,0,0.35);
}

.selected:hover{
    background-color:rgba(255,0,0,0.35);
}

/*---------------------------------------------------------------------------*/
/*                             V I E W   P O S T                             */
/*---------------------------------------------------------------------------*/

.goBack
{
  color:            #666;
  padding:          0px;
  margin:           0px;
  font-weight:      500;  
  text-decoration:  none;
}
  .goBack:hover
  {
    text-decoration:  none;
    color:            #0ad;
  }

.thumbnailProPic
{
  width: 75px;
  height: 75px;
  border: 1px solid #aaa;
}    
  
  
/*---------------------------------------------------------------------------*/
/*                               S E A R C H                                 */
/*---------------------------------------------------------------------------*/

#searchBar
{
  position:         relative;
  margin-top:       10px;
  margin-right:     20px;

}

  .searchField
  {
    background:       #fff;
    border-radius:    10px 0px 0px 10px;
    border:           1px solid #ddd;
    padding:          5px;
    padding-left:     15px;
    outline:          none;
    color:            #333;
  }

  .searchButton
  {
    background:       #fff;
    border-radius:    0px 10px 10px 0px;
    border:           1px solid #ddd;
    border-left:      none;
    padding:          5px 10px;
    outline:          none;
    margin-left:      -4px;
    color:            #0ad;
    -webkit-transition: background .4s, color .4s;
  }
    .searchButton:hover
    {
      background:   #0ad;
      color:        #fff;
    }

    .searchResults 
    {
      position:     absolute;
      top:          30px;
      border:       1px solid #ddd;
      border-top:   1px solid #eee;
      z-index:      100;
      box-shadow:   0px 2px 2px #888;
      background:   #F8F8f8;
      padding-left: 0px;
    }

      .searchResults li
      {
        border-bottom:  1px solid #eee;
        padding:        10px 0px;
        padding-left:   10px;
        list-style:     none;
        background:     #F8f8f8;
        min-width:      167px;
      }
        .searchResults li:hover
        {
          background: #0ad;
          color:      #fff;
          cursor:     pointer;
        }

/*---------------------------------------------------------------------------*/
/*                 * E N T E R   N E W   S E C T I O N *                     */
/*---------------------------------------------------------------------------*/
